/** Media Responsiveness **/
@media screen and (max-width: 600px) {
  .navbar-right a:not(:first-child) {
    display: none;
  }
  .navbar-right a.icon {
    float: right;
    display: block;
    font-size: 1em*2;
  }
  .hero-img {
    height: 400px;
  }
}

@media screen and (max-width: 600px) {
  .navbar-right.responsive {
    position: relative;
  }
  .navbar-right.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar-right.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (min-width: 360px) {
  .recent-post-wrapper {
    width: 100%;

    .recent-post-container {
      margin: 0 auto 0 auto;

      .post-entry-grid {
        margin: 0 $base-spacing 0 $base-spacing;

        .entry-flex {
          padding-bottom: $base-spacing;
        }
      }
    }
    .button-post {
      margin-left: 30%;
      margin-right: 30%;
      text-align: center;
    }
  }
  .page-wrapper {
    width: 100%;

    .page-header {
    height: 100px;
    margin: 2em auto 2em auto;
    }
  }
  .post-wrapper {
    .post-header {
      margin: 1em auto 1em auto;
      height: 100px;

      .post-title {
        font-size: 20px;
      }
      .post-meta {
        margin: 0;
      }
    }
    .post-content {
      margin: $base-spacing*2 auto $base-spacing*2 auto;
    }
  }
}
