body {
  color: $base-font-color;
  font-family: $base-font-type;
  //font-feature-settings: "kern", "liga", "pnum";
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-type;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: $small-spacing 0 $small-spacing 0;
  font-weight: 700;
}

h1 {
  font-size: rem(30);
}

h2 {
  font-size: rem(26);
}

h3 {
  font-size: rem(24);
}

h4 {
  font-size: rem(20);
}

h5,
h6 {
  font-size: rem(16);
}

/** Fonts Awesome **/
i.fa {
  color: $dark-berry;
}

/** Site Header **/
h1.logo-left {
  font-size: 24px;
  font-weight: 400;
}

.navbar-right {
  li {
    font-family: $alternate-font-type;
    font-size: 14px;
  }
}

/** Hero Image **/
.hero-text {
  font-family: $base-font-type;
  color: $white;
}

.hero-title {
  font-size: $page-title;
  font-weight: normal;
}

.hero-desc {
  font-family: $base-font-type;
  font-weight: 400;
}

/** Front Page Recent Post **/
.recent-post-container {
  .section-title {
    text-align: center;
    font-weight: normal;
    font-size: $page-title;
    color: $dark-berry;
  }
  .post-entry-grid {
    .entry-flex {
      .post-title {
        font-family: $alternate-font-type;
        font-size: 20px;

        a:hover {
          color: $light-berry;
          text-decoration: underline;
        }
      }
      .post-excerpt {
        color: $dark-grey;
        font-weight: lighter;
      }
      .post-meta {
        font-family: $base-font-type;
        font-size: 12px;
        color: $dark-grey;
      }
    }
  }
}

/** POST TYPOGRAPHY **/

.blogpost-title {
  h3 {
    font-family: $alternate-font-type;
    font-size: 18px;
    margin: $base-spacing/2 0 0 0;
  }
  p {
    font-family: $base-font-type;
    font-size: 14px;
    margin: 1em 0 1em 0;
  }
  span {
    font-size: 12px;
  }
}

h1.post-title {
  color: $dark-berry;
  font-size: $page-title;
  font-weight: normal;
}

.post-content h1,h2,h3 {
  font-weight: normal;
}

p.post-meta {
  font-size: $page-title/2;
}

h1#page-title.page-title {
  color: $dark-berry;
  font-size: $page-title;
}

p {
  margin: $small-spacing*2 0 $small-spacing*2 0;

  &.lead {
    font-size: rem(22);
    font-weight: 300;
  }
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus {
    color: shade($action-color, 25%);
  }
  &:hover {
    color: $light-berry;
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

blockquote {
  padding: $base-spacing 0 $base-spacing $base-spacing;
  margin: $base-spacing 0;
  color: $dark-grey;
  line-height: 1.8;
  border-left: $small-spacing solid $light-grey;
  background-color: lighten($light-grey, 15%);
  p {
    margin: 0;
  }
}

code {
  background: none;
  border-radius: 3px;
  border: none;
  font-family: $plaintext-font-type;
  font-size: 1em;
  margin: 0;
  padding: 0 5px;
  background-color: lighten($light-berry, 25%);
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: $plaintext-font-type;
  font-size: 1em;
  margin: 0;
  padding: 5px 10px !important;
  overflow: auto;
  max-height: 60em;
  white-space: pre;
  border: 1px solid $light-grey;
  background-color: $light-grey;

  code {
    line-height: 1.75em;
    padding: 0 !important;
    background-color: $light-grey;
  }
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

ul,
ol,
dl {
    margin-top: 0;
    margin-left: 1.2em;
    margin-bottom: 1rem;
    list-style-type: square;
    list-style-position: outside;
    list-style-image: none;
}

/** FOOTER **/
footer .copyright, .credits {
  font-size: 12px;
  text-align: center;

}
