<nav class="navbar">
  <div class="logo-container">
    <h1 class="logo-left"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">{{ site.title }}</a></h1>
  </div>
  <div class="nav-container">
      <ul class="navbar-right" id="myFunction">
        <li><a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}"><i class="fa fa-user"></i>&nbsp; About</a></li>
        <li><a href="{{ '/blog' | prepend: site.baseurl | prepend: site.url }}"><i class="fa fa-pencil"></i>&nbsp; Blog</a></li>
        <li><a href="{{ '/search' | prepend: site.baseurl | prepend: site.url }}"><i class="fa fa-search"></i>&nbsp; Search</a></li>
        <li>
          <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a></li>
      </ul>
  </div>
</nav>
