<nav class="navbar">
  <div class="container">
    <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">{{ site.title }}</a></h1>
      <ul class="navbar-right">
        <li><a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}"><i class="fa fa-user"></i>&nbsp; About</a></li>
        <li><a href="{{ '/blog' | prepend: site.baseurl | prepend: site.url }}"><i class="fa fa-pencil"></i>&nbsp; Blog</a></li>
        <li><a href="{{ '/search' | prepend: site.baseurl | prepend: site.url }}"><i class="fa fa-search"></i>&nbsp; Search</a></li>
      </ul>
  </div>
</nav>
